{% extends "base.html" %}

{% block content %}
  <div class="page-content">
    <h1>CapSet</h1>
    <p class="intro">
      CapSet – это инновационный подход к созданию собственной механической клавиатуры! 💻🔧 Наш онлайн-конструктор на сайте capset.ru – это ваш личный инструмент для творчества. Просто выберите нужные комплектующие, такие как база (Base) 🏢, переключатели (Switches) ⚙️ и колпачки (Keycaps) 🎨, чтобы создать идеальную клавиатуру, которая отражает ваш стиль и предпочтения.
    </p>
    <ul class="feature-list">
      <li>
        <strong>Выберите базу (Base)</strong> – основу вашей клавиатуры. Мы предлагаем разнообразные стили и материалы, чтобы ваша клавиатура была как уникальна, так и комфортна. 😍
      </li>
      <li>
        <strong>Переключатели (Switches)</strong> – выберите идеальные переключатели для своих потребностей. У нас есть широкий ассортимент переключателей различных производителей, чтобы каждая кнопка на вашей клавиатуре ощущалась так, как вы хотите. 🎛️
      </li>
      <li>
        <strong>Колпачки (Keycaps)</strong> – добавьте стиль и индивидуальность с помощью колпачков. Выберите цвета, формы и шрифты, чтобы создать визуальное впечатление, которое подчеркнет ваш уникальный стиль. 🎭💫
      </li>
    </ul>
    <p class="advantage">
      <strong>Преимущество работы с нами:</strong>
    </p>
    <ul class="advantage-list">
      <li>
        Мы стремимся сделать процесс создания механической клавиатуры легким и увлекательным. Просто выберите, оплатите и получите свою клавиатуру мечты – все остальное берем на себя. 🚀💯
      </li>
      <li>
        Присоединяйтесь к нам сегодня и дайте волю своему творчеству с CapSet. Воплощайте свои идеи в реальность и наслаждайтесь непревзойденным комфортом и стилем собственной уникальной механической клавиатуры. Мы гарантируем, что вы не останетесь равнодушными к своему шедевру! 🎉🎊
      </li>
    </ul>
  </div>
{% endblock %}
