{% extends "base.html" %}

{% block content %}

  <div class="container">
    <div class="text-center mt-3">
      <h1 class="display-4">Создайте свою уникальную механическую клавиатуру с CapSet!</h1>
      <p class="lead">Дайте волю своему стилю и творчеству с нашим инновационным конструктором клавиатур.</p>
    </div>
    <div class="text-center mt-4">
      <a href="/generate" class="btn btn-success btn-lg rounded-pill animate__animated animate__bounceIn">СТАРТ</a>
    </div>

    <div class="text-center mt-5">
      <h2>Почему стоит купить у нас?</h2>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-md-4 text-center">
        <img src="static\img\быстро.png" alt="Изображение 1" class="img-fluid" style="max-width: 100px;">
        <p><span style="font-size: 1.5em;">Быстро</span></p>
        <p>Быстрая доставка, в течение пары дней!</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="static\img\цена.png" alt="Изображение 2" class="img-fluid" style="max-width: 100px;">
        <p><span style="font-size: 1.5em;">Лучшая цена</span></p>
        <p>Самая низкая цена!</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="static\img\удобно.png" alt="Изображение 3" class="img-fluid" style="max-width: 100px;">
        <p><span style="font-size: 1.5em;">Удобно</span></p>
        <p>Удобная система заказов!</p>
      </div>
    </div>
  </div>

{% endblock %}
